.advantage {
  color: #ffffff;
  margin: 0;
}

.advantage__container {
  text-align: center;
}

.advantage__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.advantage__number {
  margin: 0;
  font-size: 14px;
}

.advantage__description {
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantage__container--city {
  padding-top: 74px;
  padding-bottom: 40px;
  background-color: #81b3d2;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;

  & .advantage__number {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  & .advantage__description {
    width: 275px;
    margin: auto;
  }
}

.advantage__container--order {
  background-color: #81b3d2;
  padding-top: 38px;
  padding-bottom: 40px;

  & .advantage__number {
    margin-top: 7px;
    margin-bottom: 16px;
  }

  & .advantage__description {
    width: 285px;
  }
}

.advantage__wrapper {
  position: relative;
  text-align: center;
}

.advantage--color-azure {
  width: 100%;
  background-color: #eeeeee;
  margin-top: -4px;
  text-align: center;
}

.advantage__container-azure--area {
  padding-top: 29px;
  color: #000000;

  & .advantage__number {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  & .advantage__description {
    width: 274px;
    padding-bottom: 27px;
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantage__container-azure--road {
  padding-top: 27px;
  color: #000000;

  & .advantage__number {
    margin-top: 9px;
    margin-bottom: 16px;
  }

  & .advantage__description {
    width: 254px;
    padding-bottom: 27px;
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantage__container-azure--tourist {
  padding-top: 27px;
  color: #000000;

  & .advantage__number {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  & .advantage__description {
    width: 250px;
    padding-bottom: 27px;
  }
}

.advantage__img-city {
  min-width: 320px;
  height: 260px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }
}

.advantage__img-bridge {
  min-width: 320px;
  height: 260px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .advantage__container-azure {
    width: 33.333%;
  }

  .advantage__wrapper {
    display: flex;
  }

  .advantage__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  .advantage__container--city {
    padding-top: 42px;
    background-color: #81b3d2;
    background-size: 0;

    & .advantage__title {
      width: 162px;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 10px;
      margin-bottom: 21px;
    }

    & .advantage__description {
      width: 165px;
      margin: 0;
      line-height: 21px;
    }
  }

  .advantage__img-city {
    min-width: 512px;
    height: 256px;
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-size: 512px 256px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
      background-size: 1024px 512px;
    }
  }

  .advantage__img-bridge {
    min-width: 512px;
    height: 256px;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 512px 256px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
      background-size: 1024px 512px;
    }
  }

  .advantage__container--order {
    height: auto;
    padding-top: 46px;
    flex: 1;
    order: 1;

    & .advantage__title {
      width: 151px;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 8px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 190px;
      margin: 0;
      line-height: 21px;
    }
  }

  .advantage__img {
    width: 512px;
    height: 252px;
    flex: 2;
  }

  .advantage__img--order {
    width: 512px;
    height: 256px;
  }

  .advantage--color-azure {
    display: flex;
    flex: nowrap;
    padding-bottom: 18px;
  }

  .advantage__container-azure--area {
    padding-top: 48px;
    color: #000000;

    & .advantage__title {
      width: 174px;
      margin: auto;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 11px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 174px;
      border: none;
    }
  }

  .advantage__container-azure--road {
    padding-top: 48px;
    color: #000000;

    & .advantage__title {
      width: 148px;
      margin: auto;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 11px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 148px;
      border: none;
    }
  }

  .advantage__container-azure--tourist {
    padding-top: 48px;
    color: #000000;

    & .advantage__title {
      width: 148px;
      margin: auto;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 11px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 174px;
    }
  }
}

@media (min-width: 1200px) {
  .advantage__container--city {
    padding-top: 56px;
    background-color: #81b3d2;

    & .advantage__title {
      width: 162px;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    & .advantage__description {
      width: 290px;
      margin: 0;
      line-height: 21px;
    }
  }

  .advantage__img-city {
    min-width: 800px;
    height: 256px;
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-size: 800px 400px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
      background-size: 1600px 800px;
    }
  }

  .advantage__img-bridge {
    min-width: 800px;
    height: 256;
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 800px 400px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
      background-size: 1600px 800px;
    }
  }

  .advantage__container--order {
    padding-top: 54px;
    flex: 1;
    order: 1;

    & .advantage__title {
      width: 151px;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 8px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 234px;
      margin: 0;
      line-height: 21px;
    }
  }

  .advantage--color-azure {
    padding-bottom: 32px;
  }

  .advantage__container-azure--area {
    padding-top: 52px;
    color: #000000;

    & .advantage__title {
      width: 148px;
      margin: auto;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 8px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 294px;
      border: none;
    }
  }

  .advantage__container-azure--road {
    padding-top: 52px;
    color: #000000;

    & .advantage__title {
      width: 148px;
      margin: auto;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 8px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 270px;
      border: none;
    }
  }

  .advantage__container-azure--tourist {
    padding-top: 52px;
    color: #000000;

    & .advantage__title {
      width: 148px;
      margin: auto;
      font-size: 21px;
      line-height: 26px;
    }

    & .advantage__number {
      margin-top: 9px;
      margin-bottom: 22px;
    }

    & .advantage__description {
      width: 294px;
    }
  }
}
