.feedback {
  margin-bottom: 73px;
}

.feedback__title {
  margin: 0;
  margin-top: 39px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.feedback__description {
  width: 276px;
  margin: 0 auto;
  margin-top: 27px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.feedback__familiarize {
  margin: 0 auto;
  margin-top: 17px;
  margin-left: 70px;
  margin-bottom: 21px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__familiarize-wrepper {
  margin: 0 auto;
  margin-top: 17px;
  padding-left: 20px;
  padding-bottom: 13px;
  border-top: 1px solid #dbdbdb;
}

.feedback__name {
  padding-right: 11px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__input {
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.feedback__input:hover {
  background-color: #e5e5e5;
}

.feedback__input:active {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

::-webkit-input-placeholder {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.feedback__input--name {
  width: 230px;
  padding-top: 20px;
  padding-left: 21px;
  padding-bottom: 20px;
  margin-bottom: 17px;
}

.feedback__input--surname {
  width: 192px;
  padding-top: 20px;
  padding-left: 21px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.feedback__input--patronymic {
  width: 194px;
  padding-top: 20px;
  padding-left: 21px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.feedback__contact {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.feedback__contact-wrepper {
  width: 280px;
  margin: 0 auto;
  border-top: 1px solid #dbdbdb;
}

.feedback__contact-text {
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__contact-text--phone,
.feedback__contact-text--mail {
  padding-left: 21px;
}

.feedback__wrepper-input--errop {
  outline: 1px solid red;
}

.feedback__contact-input {
  width: 280px;
  padding-top: 19px;
  padding-left: 21px;
  padding-bottom: 18px;
  margin: auto;
  margin-top: 6px;
  background-color: #f2f2f2;
  z-index: 0;
  border: none;
  box-sizing: border-box;
}

.feedback__contact-input--phone {
  padding-bottom: 15px;
}

.feedback__wrepper-input {
  position: relative;
  z-index: 0;
}

.feedback__wrepper-input--phone::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 56px;
  top: 32px;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}

.feedback__wrepper-input--mail::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 56px;
  top: 32px;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}

.feedback__wrepper-button {
  display: flex;
  justify-content: center;
  margin: 0;
}

.feedback__form-button {
  margin-top: 50px;
  padding: 16px 48px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.feedback__form-button:hover {
  background-color: #669ec0;
}

.feedback__form-button:active {
  background-color: #669ec0;
}

.feedback__buttom-instruction {
  display: none;
}

@media (min-width: 768px) {
  .feedback {
    margin-bottom: 60px;
  }
  .feedback__title {
    margin-top: 76px;
    font-size: 30px;
  }

  .feedback__description {
    width: 445px;
    margin-top: 33px;
    font-size: 14px;
  }

  .feedback__wrepper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .feedback__contact-wrepper {
    width: 648px;
    margin-top: 44px;
    border-top: 1px solid #dbdbdb;
  }

  .feedback__contact {
    width: 279px;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 23px;
    padding: 0 20px;
    font-size: 21px;
    background-color: #ffffff;
    order: 2;
  }

  .feedback__contact-text {
    font-size: 14px;
  }

  .feedback__wrepper-input--errop {
    outline: 1px solid red;
  }

  .feedback__familiarize-wrepper {
    width: 324px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 16px;
    padding-left: 0px;
    order: -1;
  }

  .feedback__familiarize {
    margin-top: 16px;
    margin-bottom: 56px;
    margin-left: 19px;
    font-size: 21px;
  }

  .feedback__input:hover {
    background-color: #e5e5e5;
  }

  .feedback__input:active {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }

  .feedback__input--name {
    width: 217px;
  }

  .feedback__input--surname {
    width: 180px;
  }

  .feedback__input--patronymic {
    width: 182px;
  }

  .feedback__name--name {
    margin-right: 0px;
    margin-left: 19px;
  }

  .feedback__name--surname {
    margin-left: 20px;
  }

  .feedback__name--patronymic {
    margin-left: 20px;
  }

  .feedback__contact-input {
    width: 648px;
    padding-top: 22px;
    padding-left: 21px;
    padding-bottom: 22px;
    margin-bottom: 0;
  }

  .feedback__wrepper-input--phone::before {
    width: 58px;
    height: 63px;
  }

  .feedback__wrepper-input--mail::before  {
    height: 63px;
  }

  .feedback__form-button {
    margin-top: 0px;
    padding: 16px 70px;
  }

  .feedback__form-button:hover {
    background-color: #669ec0;
  }

  .feedback__form-button:active {
    background-color: #669ec0;
  }

  .feedback__buttom-instruction {
    display: block;
    margin: 0;
    margin-left: 160px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
  }

  .feedback__wrepper-button {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .feedback__title {
    margin-top: 109px;
  }

  .feedback__familiarize-wrepper {
    width: 520px;
    margin-top: 4px;
    padding-left: 0px;
  }

  .feedback__familiarize {
    margin-bottom: 54px;
    margin-left: 24px;
  }

  .feedback__name--name {
    margin-right: 0px;
    margin-left: 25px;
  }

  .feedback__name--surname {
    margin-left: 25px;
  }

  .feedback__name--patronymic {
    margin-left: 26px;
  }

  .feedback__input:hover {
    background-color: #e5e5e5;
  }

  .feedback__input:active {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }

  .feedback__input--name {
    width: 351px;
  }

  .feedback__input--surname {
    width: 310px;
  }

  .feedback__input--patronymic {
    width: 314px;
  }

  .feedback__spanphone {
    display: none;
  }

  .feedback__contact-wrepper {
    width: 960px;
    padding-right: 7px;
  }

  .feedback__contact-wrepper ::-webkit-input-placeholder {
    font-size: 18px;
  }

  .feedback__contact-wrepper2 {
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .feedback__contact-text--phone {
    padding-left: 3px;
    padding-right: 13px;
    padding-top: 20px;
  }

  .feedback__contact-text--mail {
    padding-right: 15px;
  }

  .feedback__contact-input {
    padding-top: 20px;
    padding-left: 21px;
    padding-bottom: 20px;
    margin-top: 3px;
  }

  .feedback__contact-input--phone {
    width: 313px;
  }

  .feedback__wrepper-input--errop {
    outline: 1px solid red;
  }

  .feedback__contact-input--mail {
    width: 310px;
  }

  .feedback__contact-text--mail {
    width: 170px;
    padding-top: 20px;
  }

  .feedback__wrepper-input--phone::before {
    width: 58px;
    height: 58px;
    top: 5px;
    right: 0;
  }

  .feedback__wrepper-input--mail::before {
    width: 58px;
    height: 58px;
    top: 5px;
    right: 0;
  }

  .feedback__contact {
    margin-top: -13px;
    margin-bottom: 54px;
  }

  .feedback__form-button {
    padding: 15px 148px;
  }

  .feedback__form-button:hover {
    background-color: #669ec0;
  }

  .feedback__form-button:active {
    background-color: #669ec0;
  }

  .feedback__form-button--disabled:disabled {
    background-color: #e5e5e5;
  }

  .feedback__wrepper-button {
    margin-top: 48px;
    margin-bottom: 78px;
    padding: 0 120px;
  }

  .feedback__buttom-instruction {
    margin-left: 310px;
  }
}
