.impressions {
  width: 280px;
  margin: 0 auto;
  margin-top: 29px;
  border-top: 1px solid #dbdbdb;
}

.impressions__title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 38px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.impressions__text {
  position: relative;
  padding-left: 75px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.impressions__wrepper-input {
  margin: 0;
  margin-bottom: 43px;
}

.impressions__text::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -13px;
  left: 0px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

[type="radio"]:checked + .impressions__text::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 15px;
  border-radius: 50%;
  background-color: #333333;
}

.impressions__text:hover::before {
  background-color: #e5e5e5;
}

.impressions__text:active::before {
  background-color: #d5d5d5;
}

[type="radio"]:checked + .impressions__text:active::after {
  background-color: #a4a4a4;
}

@media (min-width: 768px) {
  .impressions {
    width: 324px;
    padding-right: 36px;
    border-right: 1px solid #dbdbdb;
    border-top: none;
    order: -2;
  }

  .impressions__title {
    width: 279px;
    margin-top: 3px;
    margin-bottom: 74px;
    padding-left: 35px;
    font-size: 21px;
  }

  .impressions__text {
    padding-left: 109px;
  }

  .impressions__wrepper-input {
    margin-bottom: 52px;
  }

  .impressions__text::before {
    top: -13px;
    left: 37px;
  }

  [type="radio"]:checked + .impressions__text::after {
    top: 3px;
    left: 52px;
  }

  .impressions__text:hover::before {
    background-color: #e5e5e5;
  }

  .impressions__text:active::before {
    background-color: #d5d5d5;
  }

  [type="radio"]:checked + .impressions__text:active::after {
    background-color: #a4a4a4;
  }
}

@media (min-width: 1200px) {
  .impressions {
    width: 520px;
    padding-right: 54px;
  }

  .impressions__title {
    margin-top: -10px;
    padding-left: 170px;
  }

  .impressions__text {
    padding-left: 170px;
  }

  .impressions__text::before {
    width: 58px;
    height: 58px;
    top: -15px;
    left: 92px;
  }

  [type="radio"]:checked + .impressions__text::after {
    top: 2px;
    left: 112px;
  }

  .impressions__text:hover::before {
    background-color: #e5e5e5;
  }

  .impressions__text:active::before {
    background-color: #d5d5d5;
  }

  [type="radio"]:checked + .impressions__text:active::after {
    background-color: #a4a4a4;
  }
}
