.landmarks {
  width: 280px;
  margin: 0 auto;
  margin-top: 34px;
  border-top: 1px solid #dbdbdb;
}

.landmarks__title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 30px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.landmarks__wrepper-input:nth-child(2) {
  margin: 0;
  margin-top: 56px;
}

.landmarks__wrepper-input:nth-child(3) {
  margin-top: 53px;
  margin-bottom: 54px;
}

.landmarks__text {
  position: relative;
  margin-left: 75px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.landmarks__text::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 59px;
  top: -18px;
  left: -80px;
  background-color: #f2f2f2;
}

[type="checkbox"]:checked + .landmarks__text::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
}

.landmarks__emotions {
  display: block;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 16px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.landmarks__emotions-wrepper {
  margin: 0 auto;
  margin-top: 44px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
}

.landmarks__textarea {
  background-color: #f2f2f2;
  width: 260px;
  height: 140px;
  padding-top: 18px;
  padding-left: 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

@media (min-width: 768px) {
  .landmarks {
    width: 648px;
    margin: 0 auto;
    margin-top: 52px;
  }

  .landmarks__wrepper-input:nth-child(1) {
    margin-left: 90px;
    margin-bottom: 63px;
  }

  .landmarks__wrepper-input:nth-child(2) {
    margin: 0;
    margin-top: 0;
    margin-left: 143px;

  }

  .landmarks__wrepper-input:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 90px;
    margin-right: 160px;
  }

  .landmarks__text {
    margin-left: 0;
  }

  .landmarks__wrepper {
    width: 484px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .landmarks__title {
    width: 278px;
    margin: 0 auto;
    margin-top: -22px;
    margin-bottom: 54px;
    margin-left: 165px;
    padding: 0 20px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #ffffff;
  }

  .landmarks__wrepper-input {
    margin-top: 0;
    margin-right: 0;
  }

  .landmarks__emotions {
    width: 280px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 35px;
    padding: 20px 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #ffffff;
  }

  .landmarks__emotions-wrepper {
    width: 648px;
    margin: 0 auto;
    margin-top: 75px;
    border-top: 1px solid #dbdbdb;
  }

  .landmarks__textarea {
    width: 625px;
    padding-top: 18px;
    padding-left: 24px;
  }
}

@media (min-width: 1200px) {
  .landmarks {
    width: 960px;
    margin: 0 auto;
    margin-top: 57px;
    padding: 0;

  }

  .landmarks__title {
    margin-top: -27px;
    margin-bottom: 57px;
    margin-left: 280px;
    padding: 0 60px;
  }

  .landmarks__wrepper {
    width: 880px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 79px;
  }

 .landmarks__wrepper-input:nth-child(1) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .landmarks__wrepper-input:nth-child(2) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .landmarks__wrepper-input:nth-child(3) {
    margin-right: 0;
    margin-left: 0;
  }

  .landmarks__emotions {
    margin-top: -33px;
  }

  .landmarks__textarea {
    width: 960px;
    height: 149px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .landmarks__emotions-wrepper {
    width: 960px;
    margin: 0 auto;
    margin-top: 75px;
    border-top: 1px solid #dbdbdb;
  }

  .landmarks__text:hover::before {
    background-color: #e5e5e5;
  }

  .landmarks__text:active::before {
    background-color: #d5d5d5;
  }

  [type="checkbox"]:checked + .landmarks__text:active::before {
    background-color: #a4a4a4;
    opacity: 0.3;

  }
}
