.map {
  min-width: 320px;
  height: 350px;
  margin-top: 63px;
}

@media (min-width: 768px) {
  .map {
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .map {
    width: 1200px;
    margin-bottom: 20px;
  }
}
