.menu {
  display: flex;
  justify-content: center;
  position: relative;
  height: 56px;
}

.menu__toggle {
  position: relative;
  overflow: hidden;
  padding: 0;
  border: 0;
  font-size: 0;
}

.menu__toggle--close {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 23px;
  height: 22px;

  border: none;
  mask: url("../img/icon-menu.svg");
  mask-repeat: no-repeat;
  background-color: #81b3d2;
}

.menu__logo {
  z-index: 1;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
