.menu {
  display: flex;
  justify-content: center;
  position: relative;
  height: 56px;
}

.menu__toggle {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 0;
  border: none;
  background-color: #ffffff;
}

.menu__toggle svg {
  fill: #81b3d2;
}

.menu__logo {
  z-index: 1;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
