.nav__item {
  padding-top: 9px;
  padding-bottom: 6px;
  background-color: #81b3d2;
  border-bottom: 1px solid #9ac2db;
}

.nav__item:hover .nav__link {
  color: #669ec0;
}

.nav__link:active {
  color: #5496bd;
}

.nav__item--active {
  position: relative;
  font-size: 18px;
  text-align: center;
}

.nav--none {
  display: none;
}

.nav__close {
  overflow: hidden;
  padding: 0;
  border: 0;
  font-size: 0;
}

.nav__close--button {
  position: absolute;
  top: 18px;
  right: 19px;
  width: 22px;
  height: 22px;
  border: none;
  font-size: 0;
  mask: url("../img/icon-cross.svg");
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.nav__item--logo,
.nav__item--logo-phto {
  display: none;
}

.nav__list {
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

.nav__link {
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-left: 92px;
  padding-bottom: 14px;
  padding-right: 92px;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

@media (min-width: 768px) {
  .nav {
    padding-left: 2px;
    padding-right: 0;
    z-index: 1;
  }

  .nav__close {
    display: none;
  }

  .nav__item--logo,
  .nav__item--logo-phto {
    display: block;
  }

  .nav__logo-img {
    position: absolute;
    top: 0;
    left: 43.5%;
    z-index: 1;
  }

  .nav__item {
    width: 20%;
    padding-top: 8px;
    color: #000000;
    background-color: #ffffff;
    border: none;
  }

  .nav--photo .nav__item {
    padding-top: 9px;
    color: #000000;
    background-color: #ffffff;
    border: none;
  }

  .nav--form .nav__item {
     padding-top: 5px;
  }

  .nav__item:hover .nav__link {
    color: #81b3d2;
  }

  .nav__item:active .nav__link {
    color: #d6d6d6;
  }

  .nav__item--photo {
    font-size: 14px;
  }

  .nav--form .nav__logo-img {
    position: absolute;
    top: -2px;
    left: 43.5%;
    z-index: 1;
  }

  .nav--photo .nav__list-active {
    font-size: 14px;
  }

  .nav__item--active {
    font-size: 14px;
  }

  .nav__item--active,
  .nav--photo .nav__item--active,
  .nav--form  .nav__item--active {
    font-size: 14px;
    color: #766357;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__link {
    padding: 0;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .nav {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .nav__item:hover .nav__link {
    color: #81b3d2;
  }

  .nav__item:active .nav__link {
    color: #d6d6d6;
  }

  .nav__item--logo {
    width: 186.643px;
    z-index: 1;
  }

  .nav__logo-img {
    width: 186.643px;
    height: 96.425px;
    position: absolute;
    top: -1px;
    left: 505px;
    z-index: 1;
  }

  .nav--photo .nav__logo-img {
    width: 186.643px;
    height: 96.425px;
    position: absolute;
    top: -2px;
    left: 507px;
    z-index: 1;
  }

  .nav--form .nav__logo-img {
    width: 186.643px;
    height: 96.425px;
    position: absolute;
    top: -2px;
    left: 507px;
    z-index: 1;
  }

  .nav__item--logo-phto {
    width: 186.643px;
    z-index: 1;
  }

  .nav--photo .nav__item {
    padding-top: 5px;
  }

  .nav__list {
    display: flex;
  }

  .nav__link {
    font-size: 14px;
    text-decoration: none;
  }

  .nav__item--active {
    font-size: 14px;
    color: #766357;
  }
}
