@media (min-width: 320px) {
  .nav {
    text-align: center;
  }

  .nav__item {
    padding-top: 10px;
    padding-bottom: 3px;
    background-color: #81b3d2;
    border-bottom: 1px solid #9ac2db;
  }

  .nav__item--active {
    padding-bottom: 7px;
    font-size: 16px;
    text-align: center;
  }

  .nav__item--logo {
    display: none;
  }

  .nav__list {
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
  }

  .nav__link {
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
  }

  .menu {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .nav {
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
  }

  .nav__item--logo {
    display: block;
  }

  .nav__item {
    padding-top: 6px;
    padding-bottom: 10px;
    color: #000000;
    background-color: #ffffff;
    border: none;
  }

  .nav__item--active {
    font-size: 12px;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__link {
    color: #000000;
    font-size: 12px;
    line-height: 26px;
    background-color: #ffffff;
    text-decoration: none;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 47%;

    &--photo {
      top: 0;
      left: 46%;
    }
  }

  .menu__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav {
    padding-left: 90px;
    padding-right: 90px;
  }

  .nav__item--logo {
    margin-right: 255px;
  }

  .nav__list {
    display: flex;
  }

  .nav__link {
    font-size: 12px;
    text-decoration: none;
  }

  .nav__item--active {
    font-size: 12px;
  }
}
