.page-footer {
  margin-top: 40px;
  background-color: #ffffff;
}

.page-footer__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 38px;
  font-size: 21px;
  text-align: center;
  color: #000000;
}

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .page-footer {
    width: 648px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    padding: 10px 60px;
  }

  .page-footer__title {
     margin-top: 38px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
    margin: auto;
    padding: 0 120px;
    justify-content: space-between;
  }
}
