.page-footer {
  background-color: #ffffff;
}

.page-footer__title {
  text-align: center;
  color: #000000;
}

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  text-align: center;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .page-footer {
    width: 648px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 60px;
  }

  .social {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
    margin: auto;
    padding: 0 120px;
    justify-content: space-between;
  }
}
