.photo__title {
  width: auto;
  margin: 0;
  padding: 0 9px;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.photo-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.photo-block__width {
  margin-bottom: 40px;
}

.photo-block {
  margin-bottom: 40px;
}

.photo-block__img {
  width: 100%;
}

.photo-block__img-wrapper {
  margin: auto;
}

.photo-block__like-img {
  margin-left: 20px;
}

.photo-block__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding-left: 21px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.photo-block__author {
  margin-top: 13px;
  font-size: 11px;
  font-weight: 400;
  color: #333333;
}

.photo-block__like {
  margin: 0;
}

.photo-block__like-number {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .photo__title {
    width: auto;
    margin: auto;
    padding: 0 9px;
    margin-top: 30px;
    margin-bottom: 68px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    text-align: center;
  }

  .photo__modif {
    display: block;
  }

  .photo-block__width {
    margin: auto;

    & .photo-block__img-wrapper {
      width: 648px;
    }

    & .photo-block__img {
      height: 400px;
    }
  }

  .photo-block__img-wrapper {
    width: 324px;
    margin: auto;
  }

  .photo-block__img {
    height: 267px;
  }

  .photo-wrapper {
    width: 648px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

  }

  .photo-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-block {
  margin-bottom: 0px;
}

 .photo-block__title {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .photo-block__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: #f2f2f2;
  }

  .photo-block__like-number {
    margin-right: 26px;
  }
}

@media (min-width: 1200px) {
  .photo-wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

  }

  .photo-block__width {
    position: relative;

  & .photo-block__img-wrapper {
      width: 1200px;
  }

   & .photo-block__img {
      height: 400px;
  }

  & .photo-block__wrapper {
      position: absolute;
      top: 322px;
      width: 1200px;
      background-color: #171314;
      opacity: 0.3;
      z-index: 0;
    }
  }

  .photo-block {
    position: relative;
  }

  .photo-block__title,
  .photo-block__author,
  .photo-block__like-number {
    color: #ffffff;
    z-index: 99;
  }

  .photo-block__img {
    height: 267px;
  }

  .photo-wrapper {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .photo-block__img-wrapper {
    width: 400px;
  }

  .photo-block__wrapper {
    position: absolute;
    width: 400px;
    top: 195px;
    background-color: #39391f;
    opacity: 0.3;
  }

}
