.photo__title {
  margin: 0 auto;
  width: 271px;
  margin-top: 25px;
  margin-bottom: 49px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__block-width {
  text-align: center;
  margin-bottom: 40px;
}

.photo__block {
  text-align: center;
  margin-bottom: 40px;
}

.photo__img {
  max-width: 100%;
}

.photo__block-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-top: 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.photo__block-author {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
}

.photo__block-like {
  position: relative;
  margin: 0;
  margin-top: 10px;
  margin-left: 37px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.photo__block-like::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 21px;
  mask-image: url("../img/icon-like.svg");
  mask-repeat: no-repeat;
  top: 0;
  left: -38px;
  background-color:#a9a9a9;
}

@media (min-width: 768px) {
  .photo__title {
    width: 730px;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 68px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    text-align: center;
  }

  .photo__modif {
    display: block;
  }

  .photo__block-width {
    margin: auto;

    & .photo__img-wrapper {
      width: 648px;
      height: 400px;
    }

    & .photo__img {
      max-width: 100%;
      height: 400px;
    }

    & .photo__block-title {
      padding-left: 20px;
    }
  }

  .photo__img-wrapper {
    width: 324px;
    height: 270px;
    margin: auto;
  }

  .photo__img {
    width: 648px;
    height: auto;
  }

  .photo__wrapper {
    width: 648px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .photo__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .photo__block-title {
    margin: 0;
    margin-top: 0px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }

  .photo__block-like::before {
    top: -3px;
    left: -31px;
  }

  .photo__block-like {
    margin-right: 19px;
  }

  .photo__block-like--cactus {
    margin-right: 29px;
    margin-bottom: 5px;
  }

  .photo__block-like--roads {
    margin-right: 34px;
    margin-bottom: 5px;
  }

  .photo__block-like--bridge {
    margin-right: 30px;
    margin-bottom: 5px;
  }

  .photo__block-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

@media (min-width: 1200px) {
  .photo__wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .photo__title {
     margin-bottom: 70px;
  }

  .photo__block-width {
    position: relative;

    & .photo__img-wrapper {
      width: 1200px;
    }

    & .photo__img-wrapper:before {
    position: absolute;
    content: "";
    top: 322px;
    width: 1200px;
    height: 76px;
    background-color: #39391f;
    opacity: 0.4;
  }

    & .photo__img {
      width: 1200px;
      height: 400px;
    }

    & .photo__block-wrapper {
      position: absolute;
      top: 322px;
      width: 1200px;
    }
  }

  .photo__block {
    position: relative;
  }

  .photo__block-title,
  .photo__block-author,
  .photo__block-like {
    color: #ffffff;
    z-index: 99;
  }

  .photo__img {
    width: 800px;
    height: 267px;
  }

  .photo__img-wrapper {
    position: relative;
    width: 400px;
    z-index: 1;
  }

  .photo__block-wrapper {
    position: absolute;
    width: 400px;
    top: 190px;
    z-index: 99;
  }

  .photo__img-wrapper:before {
    position: absolute;
    content: "";
    top: 190px;
    width: 400px;
    height: 76px;
    background-color: #39391f;
    opacity: 0.4;
  }

   .photo__block-like::before {
      background-color:#ffffff;
   }
}
