@media (min-width: 320px) {
  .sedona {
    height: 149px;
    background-color: #deecf5;
  }
}

@media (min-width: 768px) {
  .sedona {
    height: 290px;
    background-color: #6e93be;
  }

  .sedona--photo {
    min-width: 768px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .sedona {
    height: 303px;
    background-color: #6e93be;
  }
}
