.social {
  display: flex;
  justify-content: center;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social__item--facebook,
.social__item--photo-facebook,
.social__item--form-facebook {
  margin-left: 7px;
  margin-right: 7px;
}

.social__link {
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.social__link--vkontakte svg {
  width: 18px;
  height: 14px;
  fill: #ffffff;
}

.social__link--facebook svg {
  width: 9px;
  height: 18px;
  fill: #ffffff;
}

.social__link--YouTube svg {
  width: 20px;
  height: 14px;
  fill: #ffffff;
}

@media (min-width: 1200px) {
  .social__item:hover {
    background-color: #669ec0;
  }

  .social__item:active svg {
    opacity: 0.4;
  }
}
