.advantage__container {
  background-color: #81b3d2;
}

.advantage__title {
  color: #ffffff;
}

.advantage__number {
  color: #ffffff;
}

.advantage__description {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage__item {
  & .advantage__title {
    color: #000000;
    font-weight: 700;
  }
  & .advantage__subtitle {
    color: #333333;
    font-weight: 400;
  }
}

.advantage__container--color {
    background-color: #eeeeee;
  & .advantage__title {
    color: #000000;
    font-weight: 700;
  }
  & .advantage__number {
    color: #000000;
    font-weight: 400;

  }
  & .advantage__description {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
  }
}
