@font-face {
  font-family: "OpenSans";

  src: url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";

  src: url("../fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";

  src: url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";

  src: url("../fonts/ptsansbold.woff") format("woff");
}
