.nav__item {
  background-color: #81b3d2;
}

.nav__list {
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

.nav__link {
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.menu {
  text-align: center;
}
