.nav {
  background-color: #81b3d2;

}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__link {
    font-family: "PT Sans";
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
  }

.menu {
  background-color: #ffffff;
}
