.nav__item {
  padding-left: 90px;
  padding-right: 90px;
  background-color: #81b3d2;
}
.nav__list {
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link {
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #81b3d2;
}
