.page-main {
    font-family: "PT Sans";
    color: #000000;
    line-height: 21px;
    text-transform: uppercase;
}

.page-main__title {
    font-size: 18px;
    font-weight: 700;
}

.page-main__subtitle {
    font-size: 14px;
    font-weight: 400;
}
